<mat-card *ngIf="post as post; else loading">
    <form  #formDirective="ngForm" (submit)="updatePost(formDirective)">
        <div class="example-card">
            <mat-form-field>
                <input matInput placeholder="title" [(ngModel)]="post.title" name="title" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="sub-title" [(ngModel)]="post.subtitle" name="sub-title" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" [(ngModel)]="post.content" name="content" required></textarea>
            </mat-form-field>
            <label for="image">Choose your image</label>
            <input type="file" name="image" id="image">
            <button mat-button type="button" (click)="upload()">upload</button>
            <button mat-button type="submit" [disabled]="!formDirective.form.valid">update post</button>
        </div>
    </form>
</mat-card>
<ng-template #loading>
    <mat-spinner> </mat-spinner>
</ng-template>
  