<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="creatPost(formDirective)">
    <div class="post-container">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="title"
          required
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="subtitle"
          required
          formControlName="subtitle"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="content"
          required
          formControlName="content"
        ></textarea>
      </mat-form-field>
      <label for="image">Choose an image</label>
      <input type="file" name="image" id="image" formControllerName="image"/>
      <button type="button" mat-button (click)="upload()">upload image</button>
      <button type="submit" mat-button type="submit">Create post</button>
    </div>
  </form>
</mat-card>
